.containerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #458b00;
  border-bottom: 0.4rem solid #006400;
  font-size: 4.4rem;
  width: 100%;
  max-width: 144rem;
  margin-bottom: 1.5rem;
}

.containerNav .menu {
  height: 8rem;
  padding: 0.3rem 2rem 0.4rem 2rem;
  font-size: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerNav .menu .icon {
  color: #458b00;
  font-size: 4.4rem;
  user-select: none;
}

.containerNav .menu .menuGrande {
  display: flex;
}

.containerNav .menu .menuGrande a {
  width: 12rem;
  height: 8rem;
  color: #a2cd5a;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.containerNav .menu .menuGrande .menuSair {
  width: 12rem;
  height: 8rem;
  color: #458b00;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.containerNav .menu .menuGrande a:hover {
  border: 0.1rem solid#006400;
  color: #458b00;
  border-radius: 1.4rem;
}

.containerNav .menu .menuGrande a.active {
  color: #458b00;
}

.containerNav .menu .menuMobile {
  display: none;
}

.containerNav .menuMobileExpandidon {
  display: none;
}

.containerNav .menuMobileExpandidos a {
  display: none;
  border: 0.4rem solid #fafafa;
  width: 100%;
  height: 4rem;
  color: #458b00;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.containerNav .menuMobileExpandidos a:hover {
  border: 0.4rem solid #458b00;
  color: #458b00;
}

.containerNav .menuMobileExpandidos a.active {
  background-color: #458b00;
  color: #fafafa;
  border: 0.4rem solid #458b00;
}

.menuMobileExpandidon,
.menuMobileExpandidos {
  transition: max-height 0.3s ease-out;
}

.logoImg {
  height: 25rem;
  width: auto;
  margin-right: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 940px) {
  .containerNav {
    flex-direction: column;
  }

  .containerNav .menu {
    width: 88%;
    justify-content: space-between;
  }

  .containerNav .menu .menuGrande {
    display: none;
  }

  .containerNav .menu .menuMobile {
    display: flex;
  }
}

@media screen and (max-width: 940px) {
  .containerNav .menuMobileExpandidos {
    display: flex;
    flex-direction: column;
    width: 92%;
  }
}
